body {

    background-color: rgb(243, 185, 184);
    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    text-align: center;

}



header {
    background-image: url('./petshop-img/jumbotron.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
}




nav a {

    margin: 0 15px;

    text-decoration: none;

    color: white;

    font-weight: bold;



}

nav a:hover {

    text-decoration: underline;

}



.featured {

    margin: 20px;

}



.pet-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}



.pet {

    border: 2px solid #ddd;

    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    justify-content: center;

}



.pet img {

    width: 150px;
    border-radius: 10px;
    height: 150px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);

}



button {

    background-color: #0044ba;

    color: white;

    padding: 10px;

    border: none;

    cursor: pointer;

}



button:hover {

    background-color: #005f7a;

}


footer {
    background-color: rgb(253, 247, 231);
}



#main {
    display: block;
    transition: all 0.3s ease;
}


#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.checkbox {
    display: flex;
    align-items: center;
    padding: 0px 30px 10px 10px;
}

input[type="checkbox"] {
  transform: scale(2.0); /* Increase the number to make it bigger */
  accent-color: rgb(176, 110, 251); /* Modern browsers */
  margin: 10px; /* Optional: add space around the checkbox */

}